<div id="profile">
    
  <div class="app">
  <p><input type="text" id="platform-profile-name" /></p>
  <div id="tutorial-profile"></div>
  <p>Url: <input type="text" id="platform-profile-url" /></p>
  <div id="profile-toolbar">
    <a id="profile-change-password">Change password</a>
    <a id="profile-description-edit">Edit</a>
  </div>
  <p>Description:</p>
  <div id="profile-description-display"></div>      
  <p><textarea id="profile-description"></textarea></p>      
  </div>
  <div id="profile-preview" class="preview">
      <p>This is how your contacts see your profile:</p>
      <div id="profile-render"></div>
  </div>
</div>
<script type="text/javascript" 
        src="/static/profile/lib/profile.js">
</script>

