
         <div id="commons">
         <div class="app">   
         <!-- Posting form -->
         <form id="commons-form" action="/commons/wall/" method="post">
             <!--input id=commons-title-field" name="title" type="text">
             </input-->
             <div id="commons-file-uploader">
             </div>
         </form>
         <!-- End posting form -->

         <!-- Tool bar -->
         <div id="commons-toolbar">
            <select id="commons-tag-combo"></select>
           <a id="commons-my-button" href="#commons/mine/">mine</a>
           <a id="commons-all-button" href="#commons/all/">full</a>
           <span>
             until <input id="commons-from-datepicker" type="text"></input> 
           </span>
         </div>
         <div class="spacer"></div>
         <!-- End tool bar -->

         <!-- News Listing -->
         <div id="commons-list" class="commons-list">

         </div>
         <!-- End commons Listing -->

         <a id="commons-more-button">more...</a>
         <div id="tutorial-commons"></div>
      </div>
      <div id="commons-preview" class="preview"> </div>
      </div>
      <script type="text/javascript" 
              src="/static/commons/app/commons.dev.js ">
      </script>
 
