<!doctype html>
  <head>
    <meta charset="utf-8">
    <!--link href="/static/platform/styles/common.css" rel="stylesheet" 
          type="text/css" media="screen" />
    <link href="/static/news/styles/news.css" rel="stylesheet" 
          type="text/css" media="screen" />
    <link href="/static/contacts/styles/contacts.css" rel="stylesheet"     
          type="text/css" media="screen" />
    <link href="/static/notes/styles/notes.css" rel="stylesheet" 
          type="text/css" media="screen" />
    <link href="/static/activities/styles/activities.css" rel="stylesheet" 
          type="text/css" media="screen" />
    <link href="/static/profile/styles/profile.css" rel="stylesheet" 
          type="text/css" media="screen" />
    <link href="/static/pictures/styles/pictures.css" rel="stylesheet" 
          type="text/css" media="screen" />
    <link type="text/css" href="/static/css/jquery-ui-black-tie.css" 
          rel="Stylesheet" />          
    <link type="text/css" href="/static/css/fileuploader.css" 
          rel="Stylesheet" /-->          
    <link type="text/css" href="/static/css/style.css" 
          rel="Stylesheet" />          

    {% if isTheme %}
    <link type="text/css" href="/static/css/theme.css" 
          rel="Stylesheet" />   
    {% end %}

    <script type="text/javascript" src="/static/js/libs.js"></script>

    <!--script type="text/javascript" src="/static/js/jasmine.js"></script>
    <script type="text/javascript" src="/static/js/jasmine-html.js"></script> 
    <link rel="stylesheet" href="/static/css/jasmine.css"-->

    <title>Newebe | {% block title %}{% end %}</title>
  </head>

  <body>    
    {% block body %}{% end %}
  </body>
  <script type="text/javascript" src="/static/platform/app/platform.dev.js">
  </script>
</html>

