<div id="contact">

  <div class="app">        
  <!-- Contact form to add contact -->
  <form id="contact-form">
      <input type="text" id="contact-url-field"/></input>
      <input type="submit" id="contact-post-button" value="Add"/></input>
  </form>
  <div id="toolbar">
    <a id="contact-all-button" href="">All</a>   
    <a id="contact-pending-button" href="">Pending</a>   
    <a id="contact-request-button" href="">Request</a>   
  </div>
  <!-- Contact list -->
  <div id="contacts">
  </div>
  <div id="tutorial-contact"></div>
  </div>
  <div id="contact-preview" class="preview"> </div>
</div>
<script type="text/javascript" 
        src="/static/contacts/app/contacts.dev.js">
</script>

