<h3 class="tutorial-text">Tutorial</h3>
<p class="tutorial-text">
You have actually no contact. A contact is represented by its URL. If you
met someone and want to add it as a newebe contact, just ask him its newebe
URL. Type it in the field on top of the page, then click on the add button
or type enter.<br />
Once this is done your contact appears with a pending status. It means you must
wait that your contact confirms you to start communicating with him. Sometimes
you will see contact request. It means some wants to add you as its contact.
You can accept this by clicking on the confirm button displayed on the contact
line when you put your mouse over the line of this  contact.<br />
If you don't want to share something with  this contact you can simply delete 
it.
</p>    
