@font-face
    font-family: main
    src: url('fonts/open-sans-regular.ttf')

@font-face
    font-family: robotic
    src: url('fonts/andale-mono.ttf')

body
  font-family: main, "sans-serif"
  color: black
  margin: 0

#container
  background-color: white
  margin: 0 auto
  padding: 20px 0
  width: 700px

h1
  font-size: 4em
  margin: 0 0 3px 0
  font-family: robotic
  font-weight: bold
  text-align: center

h2
  font-size: 1.8em
  margin-top: 55px
  font-variant: small-caps
  font-family: robotic

h3
  margin-top: 35px
  font-size: 1.4em
  font-variant: small-caps
  text-transform: lowercase
  font-family: robotic

a
  color: black
  font-weight: bold

pre
  background: #DDEFFF
  color: black
  padding: 15px

hr
  border: 0
  width: 80%
  border-bottom: 1px solid #aaa

img
  border: 0

li
  list-style-type: square

.center
  text-align: center

.spacer 
  clear both

.downloads
    padding: 20px 0

span.step
  font-weight: bold
  color: #555
  font-size: 0.8em
  margin-right: 10px

#download
  padding: 10px #468856

  text-align: center
  background-color: black
  color: white
  font-size: 1em
  float: right
  width: 250px

#download a
  font-size: 1.2em
  text-decoration: none
  font-weight: bold
  color: white

#download p
  padding: 0
  margin: 0
  margin-bottom 10px

#disclaimer
  font-size: 0.6em

#menu
  list-style-type: none
  padding: 5px 10px 5px 10px
  font-size: 1.2em
  font-variant: small-caps
  border-bottom: 0px solid black
  color: white
  background-color: black
  position: fixed
  margin: 0
  top: 0

#menu li
  padding: 0px 10px 0px 0
  list-style-type: none

#menu a
  color: white
  text-decoration: none

#menu a:hover
  border-bottom: 5px solid white
  color: white

#menu a.selected
  color #AAA

#menu a.selected:hover
  border none

.feature
  background-color white
  color black
  width 320px
  padding 10px
  
  float left

.feature-left
  margin-right 10px

.feature-right
  margin-left 10px

.feature h3
  font-size 26px
  padding 0
  margin 0
  font-variant normal


#announcement
  background-color #DFF0D8
  color #468856
  border 1px solid #468856
  padding 20px
  margin-bottom 20px

#announcement a 
  color #468856

#announcement p, h2
  padding 0
  margin 0

#announcement p
  margin-bottom 5px
  font-size 18px

#announcement h2
  margin-bottom 10px

