body
  font-family: "sans-serif"
  color: black
  margin: 0

#container
  background-color: white
  margin: 0 auto
  width: 700px

h1
  font-size: 3.8em
  margin: 0 0 3px 0

h2
  font-size: 1.3em
  margin-top: 35px
  font-variant: small-caps

h3
  margin-top: 25px
  font-size: 1.1em
  font-variant: small-caps
  text-transform: lowercase

a
  color: black
  font-weight: bold
  text-decoration: none

pre
  background: #DDEFFF
  color: black
  padding: 15px

hr
  border: 0
  width: 80%
  border-bottom: 1px solid #aaa

img
  border: 0

li
  list-style-type: square

.spacer 
  clear both

span.step
  font-weight: bold
  color: #555
  font-size: 0.8em
  margin-right: 10px

#logo
  float: left

#download-text
  margin-top: 135px

#slogan
  margin: 0 0 0 0
  font-variant: small-caps
  color: white

.description
  font-style: italic
  margin-bottom: 3px
  font-size: 12px
  padding: 10px

#download
  padding: 10px #468856

  text-align: center
  background-color: black
  color: white
  font-size: 1em
  float: right
  width: 250px

#download a
  font-size: 1.2em
  text-decoration: none
  font-weight: bold
  color: white

#download p
  padding: 0
  margin: 0

#download p#disclaimer
  font-size: 0.6em

#menu
  list-style-type: none
  padding: 5px 10px 5px 10px
  font-size: 1.2em
  font-variant: small-caps
  border-bottom: 0px solid black
  margin-top: 10px
  color: white
  background-color: black

#menu li
  display: inline
  padding: 0px 10px 0px 0

#menu a
  color: white

#menu a:hover
  border-bottom: 5px solid white
  color: white

#menu a.selected
  color #AAA

#menu a.selected:hover
  border none

.feature
  background-color white
  color black
  width 320px
  padding 10px
  
  float left

.feature-left
  margin-right 10px

.feature-right
  margin-left 10px

.feature h3
  font-size 26px
  padding 0
  margin 0
  font-variant normal


#annoucement
  background-color #DFF0D8
  color #468856
  border 1px solid #468856
  padding 20px
  margin-bottom 20px

#annoucement a 
  color #468856

#annoucement p, h2
  padding 0
  margin 0
