/** Style reset */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
/** END : Style reset */


/** General */

a:visited { color: back; }

body { font-family : sans-serif ; 
  margin : 10px 0 0 10px;
} 

#apps { width : 960px; margin : 0 0 0 0; background : white; }

div.spacer { clear : both; }

/** Forms */
input { background-color : white; color: black; border : 1px solid black; }
textarea { border : 1px solid black; }


/* Menu */
#menu {
  margin : 10px 0 10px 0;
}

#menu a {
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
  color: black;
}

#menu a:visited { color: black; }
#menu a:hover { text-decoration : none; border-bottom: 3px solid black; }
#menu a.disabled { color: #888; }
#menu a.disabled:hover { cursor: default; text-decoration: none; border: none; }

/* Info dialog */

.dialog {
  background-color: black;
  color: white;
  padding: 10px 40px 10px 40px;
  width: 600px;
  position: absolute;
  left: 180px;
  top: 200px;
}

#confirmation-buttons { text-align: center; margin : 25px 0 5px 0;}
#confirmation-buttons span { color: white; font-weight: bold; 
    text-decoration: none; padding: 20px; cursor: pointer; }
#confirmation-text { margin-top: 10px; }

/* Loading indicator */

#loading-indicator {
  background-color: black;
  color: white;
  padding: 10px;
  position: absolute;
  float: right;
  right: 30px;
  top: 30px;
}

/* Register / Profile */

#platform-register-disclaimer {
  font-weight: bold;
  font-size: 38px;
  text-align : center;
  margin-top: 20%;
}

#platform-user-form {
  margin-top: 100px;
  text-align : center;
}

#platform-user-text-field {
  border: none; 
  font-weight: bold;
  font-size: 60px;
  text-align : center;
}

#profile  { margin-top: 30px; }

#profile p { margin-bottom: 20px; font-size: 18px;}
#profile input#platform-profile-name { font-size: 56px; font-weight: bold; }
#profile input#platform-profile-url { width: 600px;  }
#profile input { font-size: 18px; border: none; }

/* Contacts */

#contact-url-field {
  font-size: 20px;
  width: 881px;
  margin-top: 2px;
  padding: 5px;
  margin-bottom: 1px;
}

#contact-post-button { float: right; }

#contacts { margin-top: 50px; }
#user-menu { float: right; width: 200px; }
.platform-contact-row { margin-bottom: 10px; border-bottom: 1px solid #CCC; }
.platform-contact-url { padding: 12px 0 18px 0; }
.platform-contact-row-buttons { float: right; height: 40px; padding: 0;}

/* Tutorial */
.tutorial-text { padding-bottom: 10px; font-size : 18px; }
h3.tutorial-text { font-weight: bold; }
