// Base Styles

*
  box-sizing: border-box

html,
body
    height 100%
    width 100%

body
    text-rendering optimizeLegibility

a,
a:visited
    color #0086cc
    text-decoration none

    &:hover
        text-decoration underline

.middle
    padding-top: 20%
    
.pt05
    padding-top: 5px

// Animations

@keyframes fadein
    from
        opacity: 0
    to
        opacity: 1

@keyframes pullin
    from
        box-shadow: 0
    to
        box-shadow: inset 4px 4px 10px #888, 0px 0px 5px rgba(255, 255, 255, 1)
