// Base Styles

red = #D82545
purple = #AD2BAD
blue = #AD2BAD
pink = #F71568
green = #A0B046

*
  box-sizing: border-box

html,
body
    height 100%
    width 100%

body
    text-rendering optimizeLegibility

a,
a:visited
    color #0086cc
    text-decoration none

    &:hover
        text-decoration underline

// Animations

@keyframes fadein
    from
        opacity: 0
    to
        opacity: 1

@keyframes pullin
    from
        box-shadow: 0
    to
        box-shadow: inset 4px 4px 10px #888, 0px 0px 5px rgba(255, 255, 255, 1)

// Buttons

button
    background-color: red
    border-radius: 0
    border: 0
    padding: 10px
    margin: 10px
    color: white
    font-weight: bold

button:hover
    background-color: purple

button:active
    background-color: purple - 10%
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2)

// Helpers

.middle
    padding-top: 20%
    
.pt05
    padding-top: 5px

.success
    color: green

.error
    color: pink

.full-size
    width: 100%
    height: 100%

.full-height
    height: 100%

.w400p
    width: 400px
