#microposts-view
    .js-fileapi-wrapper
        display: none

        input
            border: 1px solid black
            margin-left: 10px
            font-size: 14px

        canvas
            margin-left: 10px

    .micropost
        border-top: 1px solid #DDD

        .left
            img
                width: 20px

        div
            padding: 0

        .micropost-attachments
            display: none

        .infos
            .tags
                color: #888
                font-weight: bold

    .author
        font-weight: bold
        margin-right: 5px 

    .micropost-buttons 
        display: none

    .micropost button
        margin-left: 0
        padding: 5px
        font-size: 12px

    .micropost p
        margin: 3px 0

    .micropost:hover
        background: #F5F0FA

    .micropost.selected
        background: blue + 40%

        .micropost-attachments
            display: inline-block

    .tag-list
        div
            float: left

    #microposts-search
        font-size: 12px
        margin-left: 5px
