// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_font'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'

iframe
    border 0


full-size
    width: 100%
    height: 100%

html
body
#content
    height: 100%
    box-sizing: border-box
    font-family: main

#content
    text-align: center

#home
    .question
        font-family: robotic, main
        font-size: 3em

    input
        border: none
        font-size: 2em
        padding: 0.4em
        border-radius: 2em

    input:active
        border: 0

    input:focus
        border: 0

#navigation
    background: black
    box-shadow: -1px 3px 4px black + 20%

    li
        a
            border: 0
            font-weight: bold
            color: white
            background-color: black
            cursor: pointer
            text-shadow: 0 0 0 #FFF

        a:hover
            color: #444
            font-weight: bold
            text-decoration: none
            text-shadow: 0 0 0 #FFF
            background-color: purple
            color: white

        a.active
            background-color: #DEF
            color: #DEF - 80%


#activities-view
    .activity
        border-top: 1px solid #DDD

    .author
        font-weight: bold
        margin-right: 5px 


#profile-view

    p
        margin: 0 

    input:hover
    input:active
    input:focus
        border-bottom: 1px solid purple

    input
        border-radius: 0em
        padding: 0em
        border-bottom: 1px solid transparent
        width: 100%

    button
        margin-left: 0

    #profile-description
        border: 1px solid transparent
        padding: 1em
        font-size: 1.4em

    #profile-description:hover
    #profile-description:active
        border: 1px solid purple

    #profile-name-field 
        font-size: 40px
        font-weight: bold

    #profile-url-field
        font-size: 16px

    // Display action buttons when mouse is over the section
    .main-section
        #change-picture-button
        #sesame-stuff
            display:none

        #change-password-button
            margin-left: 0
            display: none

    .main-section:hover
        #change-picture-button
        #sesame-stuff
            display:block

        #change-password-button
            display: inline

    #sesame-form
        display: none

    // Ugly stuff required to override fine-uploader styles
    #change-picture-button
        cursor: pointer
        background-color: red
        padding: 10px
        color: white
        font-weight: bold
        height: 45px
        width: 100%
        max-width: 400px

        input
            cursor: pointer
            font-size: 0.1em
            padding: 0em
            border-radius: 0em

    #change-picture-button:hover
        cursor: pointer
        background-color: purple

    #change-picture-button:active
        cursor: pointer
        background-color: purple - 10%
        box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2)


#contacts-view

    #new-contact-field
        margin: 19px 0 20px 20px
        border-radius: 0em
        width: 600px
        padding: 0 0 0 10px
        border: 1px solid #DDD

    #new-contact-field:focus
    #new-contact-field:active
        border-bottom: 1px solid purple

    .contact
        padding: 10px

        .name
            padding-top: 15px

        .url
            font-style: italic
            margin-left: 20px
            padding-top: 15px

        .state
            padding-top: 15px
            width: 100px
             
        .contact-buttons
            padding: 0
            display: none

            button
                padding: 5px 10px

    p.error
        margin-top: 0
        margin-left: 20px

    .contact:hover

        .contact-buttons
            display: table
