/** Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* General */
body {
  font-family: sans-serif;
  margin: 20px 10px 0 20px;
}
#apps {
  width: 100%;
  margin: 0;
  background: #fff;
}
.app {
  width: 48%;
  float: left;
}
.preview {
  width: 48%;
  float: right;
  padding: 0 20px 0 20px;
}
div.spacer {
  clear: both;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
ul {
  list-style-type: disc;
  margin-bottom: 6px;
}
li {
  margin-left: 30px;
}
input {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
textarea {
  border: 1px solid #000;
}
h1 {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 6px;
}
h2 {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 6px;
}
h3 {
  font-weight: bold;
  margin-bottom: 6px;
}
pre {
  background: #eee;
  padding: 10px 10px 10px 30px;
  margin: 10px 0;
}
img {
  max-width: 100%;
}
/* Menu */
#menu {
  margin: 10px 5px 20px 0px;
}
#menu a {
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
  color: #000;
}
#menu a:visited {
  color: #000;
}
#menu a:hover {
  text-decoration: none;
  border-bottom: 3px solid #000;
}
#menu a.disabled {
  color: #888;
}
#menu a.disabled:hover {
  cursor: default;
  text-decoration: none;
  border: none;
}
#logout-a {
  margin-right: 10px;
}
/* commons */
.selected {
  background-color: #def;
}
.mouseover {
  background-color: #eef;
}
.button-bar {
  border-top: 1px solid #aaa;
  padding-top: 5px;
  text-align: right;
}
.button-bar .ui-button-text {
  font-size: 12px;
  padding: 3px;
}
/* Tools */
.dialog {
  background-color: #000;
  color: #fff;
  padding: 10px 40px 10px 40px;
  width: 600px;
  position: absolute;
  left: 180px;
  top: 200px;
  z-index: 10;
}
.dialog-buttons {
  text-align: center;
  margin: 25px 0 5px 0;
}
.dialog-buttons span {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  cursor: pointer;
}
#confirmation-buttons {
  text-align: center;
  margin: 25px 0 5px 0;
}
#confirmation-buttons span {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  cursor: pointer;
}
#confirmation-text {
  margin-top: 10px;
}
#loading-indicator {
  background-color: #000;
  color: #fff;
  padding: 10px;
  position: absolute;
  float: right;
  right: 30px;
  top: 30px;
}
#platform-login-disclaimer,
#platform-register-disclaimer {
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  margin-top: 20%;
}
#platform-user-form {
  margin-top: 100px;
  text-align: center;
}
#platform-user-text-field {
  border: none;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}
#platform-password-text-field,
#login-password-text-field {
  border: none;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}
#help-a {
  float: right;
}
#logout-a {
  float: right;
}
.modified {
  background: #fff url("/static/images/modification_marker.png") no-repeat right top;
}
#user-menu {
  float: right;
  width: 200px;
}
.tutorial-text {
  padding-bottom: 10px;
  font-size: 18px;
}
h3.tutorial-text {
  font-weight: bold;
}
.preview p,
.preview ul {
  margin-bottom: 10px;
}
.error {
  font-size: 12px;
  color: #f00;
  display: none;
}
/* Selector styles */
#document-selector-list {
  margin-top: 10px;
  margin-bottom: 20px;
}
.doc-row {
  padding: 20px;
  border-bottom: 1px solid #555;
}
.doc-row-date {
  font-size: 10px;
}
.doc-row-title {
  font-size: 18px;
}
.mouseover-dialog {
  color: #000;
}
.selected-dialog {
  color: #000;
}
.note-title {
  text-transform: none;
  font-style: normal;
  font-size: 24px;
}
.preview img {
  width: 100%;
}
.attach-title {
  border-bottom: 1px solid #ccc;
  margin-top: 50px;
}
.document-selector-select-wrapper {
  display: inline;
}
.document-selector-select-wrapper select {
  background: transparent;
  color: #fff;
  width: 200px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
}
#document-selector .picture-row p.date {
  float: right;
}
#document-selector .picture-row {
  padding: 10px;
  border-bottom: 1px solid #aaa;
}
#document-selector-toolbar {
  margin-top: 20px;
}
