#activity-list
  margin 20px 0 20px 0
  font-size 13px
  a
    text-decoration none
    font-weight bold
    color black
  a:hover
    text-decoration underline

.activity-row
  border-bottom 1px solid #AAA
  padding 10px 0 10px 0

.activity-error-number
  color red
  cursor pointer

.activity-errors
  margin-top 5px

.activity-error-resend
  cursor pointer
  font-weight bold

span.activity-error-resend:hover
  text-decoration underline

.hover-line
  background-color #DDEEFF
