      <div id="activities">
        <div class="app">
            
          <!-- Tool bar -->
          <div id="activities-toolbar">
             <a id="activities-my-button" href="#">mine</a>
             <a id="activities-all-button" href="#">all</a>
             <span>
               until 
               <input id="activities-from-datepicker" type="text"></input>
             </span>
           </div>
         <div class="spacer"></div>
         <!-- End tool bar -->

         <!-- Activities listing -->
         <div id="activity-list">

         </div>
         <!-- End activities listing -->

         <a id="activities-more">more...</a>
         <div id="tutorial-activities"></div>
      </div>
      <div id="activities-preview" class="preview"></div>
  </div>
      <script type="text/javascript" 
              src="/static/activities/lib/activities.js">
      </script>

