a.contact-name {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
a.contact-name:active {
  color: #000;
}
.platform-contact-row {
  padding: 10px 20px;
  margin: 0;
}
.platform-contact-url {
  padding-bottom: 12px;
}
#contacts {
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}
#contact-url-error {
  margin: 10px 0;
}
