.pictures-preview
  text-align center

#pictures-picture-preview
  max-width 100%

#pictures-preview-toolbar
  text-align right
  margin-top 20px

#pictures-list 
  margin 20px 0
  border-top 1px solid #CCC

.pictures-row 
  padding 20px
  border-bottom 1px solid #CCC

.pictures-row a
  color black
  font-weight bold

.pictures-row img 
  float right

