<div id="menu">
  <span>
    <a id="news-a"href="/news/">news</a>
  </span>
  <span>
      <a id="pictures-a" href="/pictures/">pictures</a>
  </span> 
  <span>
      <a id="commons-a" href="/commons/">commons</a>
  </span> 
  <span>
      <a id="notes-a" href="/notes/">notes</a>
  </span> 
  <span>
    <a id="profile-a" href="/profile/">profile</a>
  </span>
  <span>
      <a id="contact-a" href="/contact/">contacts</a>
  </span>
  <span>
      <a id="activities-a" href="/activities/">activities</a>
  </span> 
  <span>
      <a id="logout-a" href="/logout/">X</a>
  </span>
  <span>
      <a id="help-a" target="_blank" href="http://newebe.org/#documentation">?
      </a>
  </span>
</div>
