{% autoescape None %} 

<p>At {{ picture.date }}, {{ picture.author }} published : </p>
<p class="pictures-preview">
  <img id="pictures-picture-preview"
       src="/pictures/{{picture._id }}/prev_{{ picture.path }}"
       alt="{{ picture.title }}" 
       />
</p>
<p id="pictures-preview-toolbar" class="pictures-button">
  <a id="pictures-full-size-button"
      href="/pictures/{{picture._id }}/{{ picture.path }}" target="blank">
      full size</a>
    <a id="pictures-delete-button" href="">delete</a>

</p>

