.pa1
    textarea#micropost-field
.pa1
    button#micropost-post-button send

.line 
    #activity-all

    #activity-family.activity-list.mod.left.w33
        h2.activity-list-title family
        .activities

    #activity-geeks.activity-list.mod.left.w33
        h2.activity-list-title geeks
        .activities
