.infos.small
    div.date.smaller.w100p.mr2 #{model.displayDate}&nbsp;
    span.author #{model.author}&nbsp;
    span.verb #{model.verb}&nbsp;
    span something&nbsp;
    if model.errorAmount !== undefined
        span.error (#{model.errorAmount})
