.infos.small
    span.author #{model.author}
    span.verb #{model.verb}
.pt05
    | !{model.content}
    
span.date.smaller #{model.displayDate}
.activity-buttons
    button.activity-delete-button delete
