.contact.line
    .state.mod.left #{model.state}
    .name.mod.left #{model.name}
    .url.mod.left #{model.url}

    .contact-buttons.mod.left
        button.contact-accept-button accept
        button.contact-retry-button retry
        button.contact-delete-button X
