nav#navigation.hidden
    ul
        li
            a#activities-button.active(href="#activities") activities
        li
            a#microposts-button(href="#microposts") microposts
        li
            a#contacts-button(href="#contacts") contacts
        li
            a#profile-button(href="#profile") profile
        li.right
            a#logout-button logout
        li.right
            a#infos-button(href="http://newebe.org/#documentation"
                           target="_blank") help
#home
    p loading...
