nav#navigation.hidden
    ul
        li
            a#activities-button.active activities
        li
            a#microposts-button microposts
        li
            a#contacts-button contacts
        li.right
            a#logout-button logout
        li.right
            a#infos-button(href="http://newebe.org/#documentation"
                           target="_blank") help
#home
    p loading...
