nav#navigation.hidden
    li#responsive-menu
        a menu
    ul
        li
            a#microposts-button.active(href="#microposts") news
        li
            a#pictures-button.active(href="#pictures") pictures
        li
            a#notes-button.active(href="#commons") commons
        li
            a#notes-button.active(href="#notes") notes
        li
            a#contacts-button(href="#contacts") contacts
        li
            a#profile-button(href="#profile") profile
        li.right
            a#logout-button logout
        li.right
            a#infos-button(href="http://newebe.org/#documentation"
                           target="_blank") help
        li.right
            a#activities-button(href="#activities") logs
#home
    p loading...

#note-selector-widget

#alert-widget
