nav#navigation.hidden
    ul
        li
            a#activities-button activities
        li
            a#microposts-button microposts
        li
            a#contacts-button contacts
        li
            a#logout-button logout
#home
    p loading...
