.infos.small
    span.author #{model.author}
    span.verb #{model.verb}
.pt05
    | !{model.displayContent}
    
span.date.smaller #{model.displayDate}
.micropost-buttons
    button.micropost-delete-button delete
