div
    textarea#micropost-field
div
    button#micropost-post-button send
    button#add-attachment
        img(src="static/images/attachment_white.png", alt="attachement button")
    .js-fileapi-wrapper
        input#attach-picture(type="file")
        #preview-list.line
.line
    input#microposts-search(placeholder="search...")
.line
    #micropost-tag-list.tag-list
.line
    #micropost-all
.line
    button#more-microposts-button more
