.mod.w33.left
    .line 
        input.note-title(type="text", value="#{model.title}")
    .line
        span.date.smaller #{model.displayDate}
        
    .line
        .note-buttons
            button.note-delete-button delete
            button.note-unselect-button unselect

.mod.w66.left.content-note.editable(data-button-class="all") #{model.content}
