.line
    a(href="#{model.url}", target="_blank")
        img(src="#{model.prevUrl}")
.line
    | #{model.author} - #{model.displayDate}
    span.picture-buttons
        button.picture-delete-button delete
        button.picture-rotate-button rotate right
