<html>
  <head>
    <link href="/static/css/common.css" rel="stylesheet" 
          type="text/css" media="screen" />
    <link href="/static/css/news.css" rel="stylesheet" 
          type="text/css" media="screen" />
    <link type="text/css" href="/static/css/jquery-ui-black-tie.css" 
          rel="Stylesheet" />          

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jqueryui.js"></script>
    <script type="text/javascript" src="/static/js/date.js"></script>
    <script type="text/javascript" src="/static/js/json2.js"></script>
    <script type="text/javascript" src="/static/js/underscore.js"></script>
    <script type="text/javascript" src="/static/js/backbone.js"></script>
    <script type="text/javascript" src="/static/js/showdown.js"></script>

    <title>Newebe | {% block title %}{% end %}</title>
  </head>

  <body>    
    {% block body %}{% end %}
  </body>
  <script type="text/javascript" src="/static/js/platform/lib/platform.js">
  </script>
</html>

