<div id="<%=id%>" class="news-news">
  <a class="news-delete">X</a>
  <p class="news-news-content">
    <span><%=micro_post.author%></span>
    <%=micro_post.content%>
  </p>
  <p class="news-news-date">
    <%=micro_post.date%>
  </p>
</div>
