
         <div id="news">
         <div class="app">   
         <!-- Posting form -->
         <form id="news-form" action="/news/wall/" method="post">
             <textarea class="news-area" 
                       name="content" id="id_content"></textarea>
             <input id="news-post-button" 
                    class="button post-button" type="submit" value="Post" />
         </form>
         <!-- End posting form -->

         <!-- Tool bar -->
         <div id="news-toolbar">
           <a id="news-my-button" href="#">mine</a>
           <a id="news-all-button" href="#">all</a>
           <span>
             until <input id="news-from-datepicker" type="text"></input> 
           </span>
         </div>
         <div class="spacer"></div>
         <!-- End tool bar -->

         <!-- News Listing -->
         <div id="micro-posts" class="news-newss">

         </div>
         <!-- End news Listing -->

         <a id="news-more">more...</a>
         <div id="tutorial-news"></div>
      </div>
      <div id="news-preview" class="preview"> </div>
      </div>
      <script type="text/javascript" 
              src="/static/news/lib/news.js ">
      </script>
 
