<h3 class="tutorial-text">Tutorial</h3>
<p class="tutorial-text">
You have no micro posts yet. To start you should 
add contacts by going to the contact page. Just click on the word
<em>contact</em> in the top navigation menu to do that. 
</p>    
<p class="tutorial-text">
If you already have some, it's time to micro post.
What is posting ? It is just the fact to write little  
stories for your contacts.</p>
<p class="tutorial-text"> 
To makes micro posts, type some text 
message in the text area on top of this page then click on the post
button or type ctrl + enter. </p> 
</p>
